

.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #2e2e2e; 
  color: darkgrey; 
  width: 100%; 
  margin: 0;
} 

.hero {
  background-image: linear-gradient(to bottom, #333, #444);
  padding: 50px;
  text-align: center;
  width: 100%; 
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff; }

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ccc; }

.chart {
  width: 100%; 
  padding: 20px;
}

.hhh {
  font-style: italic;
}