

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease; 
}
.navbar a:hover {
  color: #66d9ef;
}

.navbar a.active {
  color: #66d9ef; 
}


.navbar + * {
  margin-top: 20px;
}